@import 'reset';
@import 'mixins';

@font-face {
	src: url('../fonts/ALKSanet.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/ALKSanet.woff') format('woff'),
		 url('../fonts/ALKSanet.ttf')  format('truetype'),
		 url('../fonts/ALKSanet.svg#ALKSanet') format('svg');
	font-weight: normal;
	font-style: normal;
	font-family: 'ALKSanet';
}

/* ====== colors ======= */

$cinnabar : #E93F33;
$blink-white: #f2f2f2;

/* ======== fonts ======= */

$main-font: 'ALKSanet';

/* ====================== */
html,body, #wrapper{
	width:100%;
	height:100%;
}

body{
	font-family: $main-font;
	font-size: 1em;
}

.no-margin{
	margin: 0;
}

.no-padding{
	padding: 0;
}

.full-screen {
	@include background-size(cover);
	background-position: center;
	background-repeat: no-repeat;
}

a.scrollToTop{
	width:54px;
	height:54px;
	padding:10px;
	text-align:center;
	background-image: url('../img/goTop.png');
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	bottom:30px;
	right:30px;
	display:none;
	@include opacity(0.8);
	&:hover{
		@include opacity(1);
	}
}
.scrollToTop:hover{
	text-decoration:none;
}

.hideMe{
	//@include opacity(0);
}

/*======navbar====*/

.navbar-toggle{
	padding: 0;
	margin: 0;
	border:none;
	left:70px;
}

.navbar-default button.navbar-toggle{
	position: relative;
	z-index: 4;
}

.navbar-toggle .icon-bar{
	width: 38px;
	height: 5px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
	margin: 6px 0;
}


/*=============*/

.main-carouserl-wrapper{
	position: relative;

	.carousel-inner {
		.item {
			transition-property: opacity;
		}

		.item,
		.active.left,
		.active.right {
			@include opacity(0);
		}

		.active,
		.next.left,
		.prev.right {
			@include opacity(1);
		}

		.next,
		.prev,
		.active.left,
		.active.right {
			left: 0;
			transform: translate3d(0, 0, 0);
		}
	}

	.carousel-control {
		z-index: 2;
	}

	&, .carousel, .carousel-inner, .carousel-inner .item{
		width:100%;
		height:100%;
		text-align: center;
	}

	.carousel-indicators li, .carousel-indicators .active{
		width:16px;
		height:16px;
		margin: 0;
		background-color: transparent;
		border-width:2px;
	}

	.carousel-inner .item .crsl-item-text{
		position: relative;
		display: inline-block;
		margin: 0 auto;
		top:40%;
		color:#fff;
		text-shadow:1px 1px 2px #000;

		span.mdash{
			font-size: 2.5em;
		}

		span.crl-itm-title{
			font-size: 1.4em;
		}

		p{
			padding-top: 30px;
			max-width: 600px;
		}
	}

	.carousel-indicators .active{
		border-color: $cinnabar;
	}

	img.main-carousel-img{
		min-height: 100%;
		min-width: 1024px;
		width: 100%;
		height: auto;
		position: fixed;
		top: 0;
		left: 0;
	}

	span.main-carsl-cont{
		font-size: 2.2em;
	}

	div.main-button{
		background-color: $cinnabar;
		padding: 20px 40px;
		margin-top: 60px;
		display: inline-block;
		@include border-radius(3px);
		&:hover{
			background-color: #d02216;
		}

		a{
			color:#fff;
			text-shadow:none;
			font-size: 1.2em;
			font-family: $main-font;
			display: block;
			height: 100%;
			&:hover{
				text-decoration: none;
			}
		}
	}
	
	@media screen and (max-width: 1024px){
		img.main-carousel-img {
			left: 50%;
			margin-left: -512px; }
	}
}

.navbar-wrapper{
	padding-top: 40px;
	position: absolute;
        top: 0;
        display: inline-block;
        left: 0;
        right: 0;

	.navbar, .navbar-default{
		@include border-radius(0);
		background-color:transparent;
		border: none;
		margin-bottom: 0;
		min-height: auto;
	}

	.navbar-header{
		position: relative;
		right: 100px;
	}

	.navbar-brand{
		padding: 0;
	}

	/*.search-icon{
		position: absolute;
		right: -10px;
		top: 0;

		a{
			display: block;
		}

		form{
			position: absolute;
			right: 0;
			top:50px;

			div.search-input-box{
				margin-bottom: 0;
			}

			div.search-btn-submt{
				margin-top: 6px;
			}

			input.search-input{
				width: 150px;
				height:25px;
				margin-top: 5px;
				display: none;
				text-align: left;
			}

			input.search-btn{
				background-color: $cinnabar;
				color:#fff;
				display: none;
				text-align: center;
				margin: 0;
				padding: 5px 15px;
				border:none;
				width: auto;
				height: auto;

			}
		}
	}*/

	.navbar .nav li a{
		color:$blink-white;
		font-weight: bold;
		text-shadow:1px 1px 1px #333;
		&:hover{
			color:$cinnabar;
			text-shadow:none;
		}
	}

	.navbar-nav>li>a{
		padding: 7px 12px;
	}

	.navbar .nav li.list-search-form{
		display: none;

		input{
			height:27px;
			border:none;
		}

		input.search-text-hidden{
			width: 130px;
			-webkit-border-radius: 2px 0 0 2px;
			-moz-border-radius: 2px 0 0 2px;
			-ms-border-radius: 2px 0 0 2px;
			border-radius: 2px 0 0 2px;
			padding: 3px 5px;
		}

		input.search-submit-hidden{
			-webkit-border-radius: 0 2px 2px 0;
			-moz-border-radius: 0 2px 2px 0;
			-ms-border-radius: 0 2px 2px 0;
			border-radius: 0 2px 2px 0;
			text-transform: none;
			color:#fff;
			background-color: $cinnabar;
		}
	}

	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
		background-color: $cinnabar;
		@include border-radius(4px);
		color: $blink-white;
		text-shadow:none;
	}

	@media screen and (max-width: 1200px) {
		&{
			width: 100%;
		}
	}

	@media screen and (min-width: 768px) {
		.navbar {
			text-align:center;
		}
		.navbar .nav {
			float:none;
		}

		.navbar .nav li {
			display:inline-block;
			float:none;
			vertical-align:middle;
		}
	}
}

.home-content{

	.serv-wrap{
		background-color: $blink-white;
		padding-bottom: 140px;

		.serv-head{
			position: relative;

			.serv-head-img{
				position: absolute;
				top:60px;
			}

			h3{
				color:$cinnabar;
				font-size: 24px;
				padding: 90px 0;
			}	
		}
		

		div.serv-item{
			padding:0 10px;
			background-color: red;
		}

		ul{

			li{
				margin: 0 8px;

				.serv-item-wrapper{
					//background-color: #000;
					position: relative;
					margin-top: 10px;

					.item-bottom{
						background-color: $cinnabar;
						padding: 14px 0;
						color:$blink-white;
						font-size: 1.1em;
					}
					
					.serv-img{
						@include background-size(cover);
						background-position: center center;
						width: 280px;
						height:320px;

						&:hover div{
							background-color:rgba(0,0,0,0.8);
						}
						&:hover a{
							display:block !important;
						}
						a{
							display: block;
							position: absolute;
							left: 0;
							right: 0;
							width: 120px;
							margin: auto;
							border:2px solid $blink-white;
							color:$blink-white;
							font-size:1.1em;
							padding: 10px 15px;
							top: 145px;
							@include border-radius(3px);
							&:hover{
								text-decoration: none;
								display:block;
							}
						}

						div{
							position:absolute;
							left:0;
							top:0;
							width: 280px;
							height:320px;
							-webkit-transition: all 0.5s linear;
							-moz-transition: all 0.5s linear;
							-ms-transition: all 0.5s linear;
							-o-transition: all 0.5s linear;
							transition: all 0.5s linear;
							position: relative;
						}
					}

				}
			}
		}
	}

	.voice-bank{
		padding: 60px 0;
		background-color: #dadada;

		.voice-bank-head{
			position: relative;

			.voice-bank-img{
				position: absolute;
				z-index: 2;
			}

			h3{
				color:$cinnabar;
				font-size: 24px;
			}
		}

		.voice-bank-main{
			position: relative;

			.voice-bank-buttons{
				position: absolute;
				top:200px;
				left: 0;
				right: 0;
				
				a{
				    padding: 20px 40px;
				    margin: 60px 20px 0 20px;
				    display: inline-block;
				    border:2px solid $cinnabar;
				    @include border-radius(3px);
				    font-size: 1.2em;
				    color:$cinnabar;
				    width: 200px;
				    &:hover{
				    	text-decoration: none;
				    }
				}
				a.act-buttn{
					background-color: $cinnabar;
					color:#fff;
				}
			}
		}
	}
}

footer{
	color:#fff;

	a:hover{
		@include opacity(0.6);
	}

	.footer-top{
		background-color: #323232;
		padding: 30px 0;
		
		.footer-top-wrap{
			position: relative;
		}

		ul.contact-info{
			float:left;
			margin-left: 0;

			li{
				margin:0 80px 0 0;
				font-size: 1.1em;
			}
		}

		ul.soc-list{
			position: absolute;
			right:0;
			top:28px;
			li{
				margin: 0;
				padding: 5px;
				background-color: transparent;

				a{
					display: block;
				}
			}
		}
	}

	.footer-bottom{
		background-color: #2a2a2a;
		padding: 50px 0;

		ul{
			float:left;

			li{

				a{
					color:#fff;
				}

				a.footer-active{
					color:$cinnabar;
				}
			}
		}

		.footer-basement{
			padding: 20px 0;

			.bottom-logo{
				float:right;
				margin-right: 10px;
			}

			p{
				position: relative;
				top:50px;
			}
		}
	}
}


/*=================

	CONTACT PAGE

===================*/



.contact-bg-wrapper{
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	height: 350px;
	width:100%;

	.contact-top-text{
		font-size: 1.7em;
		padding-top: 170px;
		color: $cinnabar;

		p{
			padding: 3px 0;
		}
	}
}

.contact-main{

	margin: 80px auto;

	padding: 60px 0;

	.contact-main-l{
		font-size: 1.2em;
		color:#4d4d4d;

		.cont-map{
			padding-top: 30px;

			iframe{
				width: 100%;
				height: 450px;
				border: 2px solid #d9d9d9;
			}
		}

		.contact-info-top{
			margin: 0;

			div{
				padding: 0;
			}
		}

		.contact-info-bot{
			margin: 30px 0;

			div{
				padding: 0;
			}
		}
	}

	.contact-main-r{
		.cont-control{
			@include border-radius(2px);
			padding: 25px;
			border-width:2px;
		}

		input.cont-control:focus, textarea.cont-control:focus{
			border-color: #ee675d;
			-webkit-box-shadow: 0px 0px 2px 2px rgba(253,233,232,1);
			-moz-box-shadow: 0px 0px 2px 2px rgba(253,233,232,1);
			box-shadow: 0px 0px 2px 2px rgba(253,233,232,1);
		}

		input.contact-submit-btn{
			@include border-radius(2px);
			padding: 15px;
			border: none;
			background-color: $cinnabar;
			background-image: url('../img/paperplane.png');
			background-repeat: no-repeat;
			background-position: center center;

			&:hover{
				background-color: #e72618;
			}
		}
	}
}

/*=========

	PARTNERS PAGE

============*/

.partners-content{
	background-color: #fafafa;

	.partners-main{
		padding: 60px 0;
		max-width: 1160px;
		margin: 0 auto;

		.partners-logo{
			padding-left: 25px;
			margin-bottom: 50px;

			span{
				font-size: 1.2em;
				color:$cinnabar;
			}
		}

		.partners-banners{

			margin-bottom: 70px;

			ul{
				text-align: center;


				li{
					width:230px;
					height:120px;
					border-left: 2px solid #d9d9d9;
					border-bottom: 2px solid #d9d9d9;
					vertical-align: middle;
					position: relative;
					background-color: #fff;

					a{
						display: block;
						height: 100%;
						width: 100%;

						img{
							margin: auto;
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
						}
					}
				}

				li:last-child{
					border-right: 2px solid #d9d9d9;
				}
			}
		}
	}
}

.video-link-item{
	width: 260px;height: 245px;overflow: hidden;padding: 0 5px;position: relative;
}

/*=================

	PORTFOLIO PAGE

==================*/

.portfolio-player{

	.music-item{
		height:80px;
		width: 100%;
		background-color: #a6a6a6;
		margin: 30px 0;

		.music-item-control{
			height: 100%;
			span{
				font-size: 3em;
				color:#fff;
				padding: 13px 0 0 20px;
			}
		}
	}
}

.bg-top{
    background-position: top center !important;
}

.bg-bottom{
	background-position: 50% 70% !important;
}

.portfolio-audio{
	padding: 60px 0;
    background-color: #f2f2f2;

	.portfolio-aduio-cont{

		.port-auido-top{
			span{
				color:$cinnabar;
				font-size: 1.2em;
			}
		}

		p{
			font-size: 1.1em;
			color:#555;
            margin-top: 30px;
            line-height: 25px;
		}

	}
}

.portfolio-item{
	padding: 30px 0;

	.item-main-wrapper{
		padding:0;
	}

	.item-list{
		padding: 0 !important;
	}

	.port-item-top{
		span{
			color:$cinnabar;
			font-size: 1.2em;
		}
	}

	p{
		font-size: 1.1em;
		color:#555;
		margin-top: 30px;
		line-height: 25px;
	}

	ul{
		padding: 40px 0;

		li{
			width: 270px;
			height:300px;
			overflow: hidden;
			padding: 0 5px;
			position: relative;

			div.dark-block{
				background-color: #000;
				position: relative;

				.item-appear{
					position: absolute;
					display: none;
					width: 70px;
					height:70px;
					margin: auto;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
				}

				img {
					-webkit-transition: all 0.5s linear;
					-moz-transition: all 0.5s linear;
					-ms-transition: all 0.5s linear;
					-o-transition: all 0.5s linear;
					transition: all 0.5s linear;
					&:hover {
						@include opacity(0.2);
					}
				}
			}
		}
	}
}

/*===================

	voice bank

=====================*/

.voice-bank-main{
	background-color: #fff;

	.voice-bank-tabs{
		position: relative;
		bottom: 46px;
		margin-bottom: -46px;
		padding-bottom: 40px;

		.voice-bank-info{
			padding: 50px 0 10px 0;

			div.row{
				margin: 0;
			}

			.voice-bank-info-mic{
				span{
					color:$cinnabar;
					font-size: 1.4em;
					display: inline-block;
					border-bottom: 3px solid $cinnabar;
					padding-bottom: 3px;
					position: relative;
					bottom: 10px;
				}
			}

			.voice-bank-info-phone, .voice-bank-info-mail{
				padding-top: 35px;

				span{
					color:#666;
					font-size: 1.2em;
				}
			}
			
			.voice-bank-info-filter{
				
				a#filter-button{
					display: inline-block;
					padding: 15px 50px;
					background-color: $cinnabar;
					color: #fff;
					font-size:1.2em;
					@include border-radius(3px);

					&:hover{
						text-decoration: none;
					}
				}

				.voice-filters{
					display: none;
					background-color: #e6e6e6;
					position: absolute;
					width: 450px;
					right: 15px;
					top: 70px;
					z-index: 2;
					text-align: center;
					@include border-radius(3px);

					ul.filters-list{
						padding: 10px;

						/*li.filters-list-items{
							margin: 5px 0;*/

							span{
								width: 120px;
								height: 37px;
								margin: 5px;
								padding-top: 10px;
								text-align: center;
								display: inline-block;
								text-decoration: none;
								background-color: #999;
								color:#fff;
								@include border-radius(2px);
							}
						/*}*/
					}
				}
			}
		}

		ul.nav-tabs{
			padding: 0 20px;
			background: rgba(0,0,0,0.3);

			li{
				a{
					font-size: 1.1em;
					color:#fff;
					&:hover{
						background: rgba(255,255,255,0.3);
					}
				}

				&.active{
					background-color: transparent;

					a{
						background-color: #e6e6e6;
						border-color: #e6e6e6;
						color:$cinnabar !important;
					}
				}
			}
		}

		.tab-content{
			background-color: #fff;

			.vcb-tab{
				padding: 30px 0;

				.link-see-more{
					margin: 70px 0 40px 0;

					a{
						display: inline-block;
						padding: 15px 50px;
						@include border-radius(3px);
						border:3px solid $cinnabar;
						text-align: center;
						color:$cinnabar;
						font-size: 1.1em;

						&:hover{
							text-decoration: none;
						}
					}
				}

				ul.vcb-ppl-list{

					li{
						margin-top: 35px;

						.vcb-ppl-wrapper{
							width: 270px;
							height: 300px;
							position:relative;

							div.vcb-ppl-bg{
								@include background-size(cover);
								background-position: center center;
								width: 100%;
								height: 100%;
								position: relative;

								.ppl-audio-hov{
									display: none;
									position: absolute;
									background-color: #f1f1f1;
									top: 0;
									left: 0;
									right: 0;
									bottom: 0;

									.ppl-audio-wrapper{
										float:left;
										padding: 1px;
										width: 50%;
										height:50%;

										h3{
											color:#fff;
											//background-color: $cinnabar;
											background-color: #808080;
											width: 100%;
											padding: 10px 0;
											font-size: 1.1em;
											height:30%;
										}

										.activeTitle{
											background-color: #d02216;
										}

										div.ppl-audio-sign{
											//background-color: #ec5146;
											background-color: #8c8c8c;
											height: 70%;
											position: relative;

											div.sign-play{
												background-image: url('../img/play.png');
												background-repeat: no-repeat;
												width: 35px;
												height:50px;
												position: absolute;
												margin: auto;
												top: 0;
												bottom: 0;
												left: 0;
												right: 0;
											}
										}
									}
								}
							}

							span{
								display: block;
								background-color: $cinnabar;
								text-align: center;
								padding: 12px 0;
								color:#fff;
							}
						}
					}
				}
			}
		}
	}
}

.services-tabs{

	.services-container{
		padding: 30px 0;
		background-color: #e6e6e6 !important;
	}

	.services-tab > img.tab-img{
		padding-left: 40px;
	}

	.services-tab{

		.tab-data-wrapper{
			margin: 20px 0;
		}

		span.tab-span{
			color:$cinnabar;
			font-size: 1.2em;
		}
		p.tab-par{
			padding: 30px 40px;
			color:#4d4d4d;
		}

		div.tab-text{
			margin: 20px 0;
		}

		.service-table-text{
			text-align: center;
			//border:1px solid #999;
			margin:0;
			padding: 0 40px;

			div{
				padding: 15px 20px;
				//border-bottom: 1px solid #999;
				border:1px solid #999;
			}

			div.serv-tb-txt-r{
				position: relative;
				right: 1px;
				//border-left: 2px solid #999;
			}
		}
	}
}


/*===== fade in content =====*/
/*.indy-fade-box-container .indy-fade-box {
	opacity: 0;
}
.indy-fade-box-container .indy-fade-box.hide {
	opacity: 0;
}
.indy-fade-box-container .indy-fade-box.show {
	opacity: 1;
}
.indy-fade-box-container.fade-in {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}
.indy-fade-box-container.fade-in .indy-fade-box.animate {
	-webkit-transform: translateY(150px);
	-ms-transform: translateY(150px);
	transform: translateY(150px);
	-webkit-animation: fadeIn 0.7s ease forwards;
	animation: fadeIn 0.7s ease forwards;

	opacity: 0;
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);

		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);

		opacity: 1;
	}
}*/

/*
	================
	  	 PLAYER
	================
*/
.audioplayer
{
	color: #fff;
	text-shadow: 1px 1px 0 #000;
	position: relative;
	z-index: 1;
	height:100%;
}

.audioplayer-mini
{
	width: 2.5em;
	margin: 0 auto;
}

.audioplayer-volume-button > a{
	display: none;
}

/* player elements: play/pause and volume buttons, played/duration timers, progress bar of loaded/played */

.audioplayer > div
{
	position: absolute;
}

.audioplayer-bar-loaded{
	background: #f3928c !important;
}

/* play/pause button */

.audioplayer-playpause
{
	width: 2.5em;
	height: 100%;
	text-align: left;
	text-indent: -9999px;
	cursor: pointer;
	z-index: 2;
	top: 0;
	left: 0;
}
.audioplayer:not(.audioplayer-mini) .audioplayer-playpause
{
	border-right-color: rgba( 255, 255, 255, .1 );
}
.audioplayer-mini .audioplayer-playpause
{
	width: 100%;
}
.audioplayer-playpause a
{
	display: block;
}
.audioplayer-stopped .audioplayer-playpause a
{
	width: 50px;
	height: 50px;
	border: none;
	position: absolute;
	top: 35%;
	left: 70%;
	margin: -0.5em 0 0 -0.25em;
	background-image: url('../img/play.png');
	background-repeat: no-repeat;

}
.audioplayer-playing .audioplayer-playpause a
{
	width: 30px;
	height: 45px;
	position: absolute;
	top: 25%;
	left: 50%;
	background-image: url('../img/pause.png');
}
.audioplayer-playing .audioplayer-playpause a:before,
.audioplayer-playing .audioplayer-playpause a:after
{
	width: 40%;
	height: 100%;
	background-color: #fff;
	content: '';
	position: absolute;
	top: 0;
}
.audioplayer-playing .audioplayer-playpause a:before
{
	left: 0;
}
.audioplayer-playing .audioplayer-playpause a:after
{
	right: 0;
}

.audioplayer-time
{
	width: 4.375em;
	height: 100%;
	line-height: 2.375em;
	text-align: center;
	z-index: 2;
	top: 0;
}
.audioplayer-time-current, .audioplayer-time-duration
{
	display: none;
}
.audioplayer-novolume .audioplayer-time-duration
{
	border-right: 0;
	right: 0;
}

/* progress bar of loaded/played */

.audioplayer-bar
{
	height: 100%;
	background-color: #a6a6a6;
	cursor: pointer;
	z-index: 1;
	top: 0;
	right: 0;
	left: 0;
	margin-top: 0;
}
.audioplayer-novolume .audioplayer-bar
{
	right: 4.375em; /* 70 */
}
.audioplayer-bar div
{
	width: 0;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.audioplayer-bar-loaded
{
	z-index: 1;
}
.audioplayer-bar-played
{
	background-color: #E93F33;
	z-index: 2;
}

/*==================================================*/

@import 'media_queries';